<% if @filter.blank? %>
  <% @page_title = "Listing Templates" %>
  <% @body_classes << "listings listing-templates" %>

  <h1>
    <%= @page_title %>
    <%= link_to 'New Listing Template', '#', :class => 'btn btn-primary float-right', 'data-open-popup' => "new-listing" %>
  </h1>

  <div class="light-container">
    <form id="listings-filter" class="filter" data-filter-content="filtered-content" data-filter-url="<%= admin_listing_templates_path %>">
      <%= hidden_field_tag 'filter[ajax]', true %>
      Filters
      <%= wrap_select select_tag 'filter[category]', categories_options_for_select(ItemCategory.top_level_categories, @filter[:category]), :prompt => 'All Categories' %>
      <%= wrap_select select_tag 'filter[sort]', options_for_select(@filter_sort_options, @filter[:sort]), :prompt => 'Sort Order' %>
      <%= text_field_tag 'filter[term]', @filter[:term], :placeholder => 'Search', :style => 'width: 360px' %>
    </form>
  </div>

  <div id="filtered-content"></div>

  <div class="light-container" style="display: none; width: 350px" data-popup-box="new-listing">
    <h1>New Listing Template</h1>

    <p>Please choose a category from the list below:</p>

    <div class="new-listing-categories">
      <% recursive_sorted_categories_list.each { |item| %>
        <div style="<%= "padding-left: #{20 * item[:indent]}px" %>" class="<%= "top-category" if item[:indent] == 0 %>">
          - <%= link_to item[:title], new_admin_listing_template_path(:item_category_id => item[:id]) %>
        </div>
      <% } %>
    </div>

    <div>
      <%= link_to 'Cancel', '#', :class => 'btn popup-close' %>
    </div>
  </div>
<% else %>
  <div class="listings-list">
    <% if @listing_templates.any? %>
      <% @listing_templates.each { |template| %>
        <div class="listing">
          <%= link_to admin_listing_template_path(template) do %>
            <div class="image" style="<%= "background-image: url(#{template.images.first.image.url(:preview)})" if template.images.first.try(:image).try(:exists?) %>"></div>
          <% end %>
          <%= link_to template.title, admin_listing_template_path(template), :class => 'title' %>

          <div class="make-model">
            <div>Category: <span><%= template.item_category.title %></span></div>
            Make: <span><%= template.make || '&ndash;'.html_safe %></span>

            <div class="float-right">Model: <span><%= template.model || '&ndash;'.html_safe %></span></div>
          </div>

          <p class="description"><%= template.description.truncate(110) %></p>
        </div>
      <% } %>
    <% else %>
      <p class="text-center">No listing templates found</p>
    <% end %>
  </div>
<% end %>