<%= form_for @warehouse do |f| %>
  <div class="input-form">
    <div class="row">
      <%= f.label :title %>
      <div class="field">
        <%= f.text_field :title, :placeholder => 'Warehouse Title', :required => true %>
      </div>
    </div>
    <div class="row">
      <%= f.label :address %>
      <div class="field">
        <%= f.text_field :address, :placeholder => 'Warehouse Address', :required => true %>
      </div>
    </div>
    <div class="row">
      <%= f.label :description %>
      <div class="field">
        <%= f.text_area :description, :placeholder => 'Description of the Warehouse' %>
      </div>
    </div>
    <div class="row">
      <%= f.label :floor_plan %>
      <div class="field">
        <%= f.file_field :floor_plan, :required => !@warehouse.floor_plan.exists? %>
        <%= image_tag @warehouse.floor_plan.url, :width => '100%' if @warehouse.floor_plan.exists? %>
      </div>
    </div>
    <div class="row actions">
      <%= f.submit 'Save', :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', '#', :class => 'btn popup-close' %>
    </div>
  </div>
<% end %>