<% unless @filter[:ajax] %>
  <% @page_title = "Sold Listings Report" %>
  <% @body_classes << "reports" %>

  <h1>
    <%= @page_title %>
  </h1>

  <div class="light-container">
    <form id="sold-listings-report-filter" class="filter" data-filter-content="filtered-content" data-filter-url="<%= sold_listings_report_path %>">
      <%= hidden_field_tag 'filter[ajax]', true %>
      Filters
      <%= wrap_select select_tag 'filter[marketplace]', options_for_select(Marketplace.all.map(&:name), @filter[:marketplace]), :prompt => 'Marketplace' %>
      <%= wrap_date_field text_field_tag 'filter[date_from]', @filter[:date_from] || 30.days.ago.to_date, :placeholder => 'Date From', :class => 'date-field' %>
      <%= wrap_date_field text_field_tag 'filter[date_to]', @filter[:date_to] || Date.today, :placeholder => 'Date To', :class => 'date-field' %>
    </form>

    <div id="filtered-content"></div>
  </div>
<% else %>
  <%= render :partial => 'sold_listings', :locals => { :groups => @groups } %>
<% end %>